<div>
  <h2>Welcome to Soondol WebCroller!</h2><br>
  <form (submit)='onSubmit()' id="mainform">
    <input type="radio" class="form-control" [(ngModel)]="isyoutube" name="youtube" [value]="1">Youtube<br>
    <input type="radio" class="form-control" [(ngModel)]="isyoutube" name="naver" [value]="2">Naver<br>

    <input type="text" class="searchText" id="searchString" name="sstring" [(ngModel)]="searchString"><br><br>
    <button type="submit" >선택 </button>
  </form>

  <app-search-list [searchType]="searchPage" [contents]="contents" [searchString]="searchString"></app-search-list>
</div>
